# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)


# vercel
.vercel

# typescript
*.tsbuildinfo
